
.yellow{
	background: #F7FE2E;
	padding: 10px;
	margin:10px;
	width: 200px;
	height: 50px;

}
.pink{
	background: #FF00BF;
	padding: 10px;
	margin:10px;
	width: 200px;
	height: 50px;

}
.amarillo{
	background: #F7FE2E;
	padding: 10px;
	margin:10px;
	width: 200px;
	height: 50px;
}